@page
@model SearchAdminModel
@{
    ViewData["Title"] = "SearchAdmin";
}

<div class="text-center">
    SearchAdmin
</div>

<form asp-page="/SearchAdmin" asp-page-handler="CreateIndex">
    <button type="submit" class="btn btn-primary">
        Create Index
    </button>
</form>

<br />
<br />

<form asp-page="/SearchAdmin" asp-page-handler="AddData">
    <button type="submit" class="btn btn-primary">
        Add Data
    </button>
</form>

