@page
@model SearchAdminModel
@{
    ViewData["Title"] = "SearchAdmin";
}

<div class="text-center">
    SearchAdmin
</div>


<button id="CreateIndex" type="button" class="btn btn-primary" value="createIndex">Create Index</button>

<br />
<br />

<button id="AddData" type="button" class="btn btn-primary" value="addData">Add Data</button>
