@page "/"

<h1 class="display-4">ASP.NET Core Azure Cognitive Search</h1>

<hr />

<a href="https://docs.microsoft.com/en-us/azure/search">https://docs.microsoft.com/en-us/azure/search</a>
<br />
<br />
<a href="https://docs.microsoft.com/en-us/azure/search/search-what-is-azure-search">https://docs.microsoft.com/en-us/azure/search/search-what-is-azure-search</a>
<br />
<br />
<a href="https://docs.microsoft.com/en-us/rest/api/searchservice/">https://docs.microsoft.com/en-us/rest/api/searchservice/</a>
<br />
<br />
<a href="https://github.com/Azure-Samples/azure-search-dotnet-samples/">https://github.com/Azure-Samples/azure-search-dotnet-samples/</a>
<br />
<br />
<a href="https://channel9.msdn.com/Shows/AI-Show/Azure-Cognitive-Search-Deep-Dive-with-Debug-Sessions">https://channel9.msdn.com/Shows/AI-Show/Azure-Cognitive-Search-Deep-Dive-with-Debug-Sessions</a>
<br />
<br />
<a href="https://channel9.msdn.com/Shows/AI-Show/Azure-Cognitive-Search-Whats-new-in-security">https://channel9.msdn.com/Shows/AI-Show/Azure-Cognitive-Search-Whats-new-in-security</a>


